html{
    scroll-behavior: smooth;
    margin:0;
    padding:0;
}
body {
    margin:0px;
    padding:0px;
    font-family: 'Ubuntu', sans-serif;
}
#heading{
    text-align: center;
    width:10vw;
    display:inline;
    position:absolute;
    top:0px;
    left:10px; 
}
.nav a{
    color:white;
}
.upper{
height:10px;
width:10px;
border-radius: 50%;
background-color: white;
position:absolute;
left:20px;
top:12px ;
animation: logoUp 2s linear alternate infinite;
}
.lower{
    height:5px;
    width:5px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    /* left:20px; */
    top:60px ;
    animation: logoDwn 2s linear alternate infinite;
    
}
@keyframes logoUp{
    to{
        left:20px;
    }
    from{
        left:120px;
    }
}
@keyframes logoDwn {
    to{
left:120px;
    }
    from{
left:20px;
    }
}
.intro{
    margin:0px auto;
    font-size: 20px;
    padding:15px;
    position: absolute;
    top:30vh;
    left:10vw;
    width:400px;
    text-align: center;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.commonCategories{
    width:500px;
    /* height: 500px; */
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0vh;
    right:10vw;
    
    
}
.imgDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width:600px;
    flex-wrap: wrap;
}
.categories{
    cursor:pointer;
    margin:10px 0px 10px 10px;
    max-width:150px;
    height:200px;
    opacity:1;
    /* box-shadow: 0px -1px 6px 0px black; */
    backface-visibility: hidden;
    transform: scale(2);
    

}
.imgText{
    position:relative;
    padding:10px;
    top:-70px;
    left:20px;
    font-size: 18px;
    font-weight: 800;
    color:white;
    transition: all 0.5s;
    pointer-events: none;
}

.imgContainer{
    width:150px;
    height:200px;
    margin:10px;
    overflow: hidden;
    transition: all 0.5s;
}
.categories:hover {
    opacity: 0.5;
    transition:all 0.3s;
    transform: scale(1.2);
}
.categories:hover + .imgText{
    opacity:1;
    top:-180px;
    border-bottom:1px solid white;
}
.container{
    width:80vw;
    margin:auto;
}
.container h3{
    margin:10px auto;
    padding: 10px;
    width:300px;
    text-align: center;
    font-size: 2rem;
    background-color:#FE7A15;
    border-radius: 5px;
    color:whitesmoke;
} 
.nav{
    display:flex;
    flex-direction: column;
    height:100vh;
    transition:all;
    color:white;
    background-image:linear-gradient(to right,#D3DD18,#35BBCA)
}
.mainbox{
    border-radius:8px;
    width:90vw;
    margin-top:10vh;
    margin-bottom:10vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10vh auto;
    z-index: 98;

}
.box-item{
    box-shadow: 1px 1px 10px -1px black;
    /* height:auto; */
    margin:50px 25px;
    overflow:hidden;
    transition: all 0.7s;
    
}
.box-item:hover{
    box-shadow: 1px 1px 35px -1px grey;
}


.btn{
    position: relative;
    padding:8px;
    margin-top:0.5vh;
    border-radius: 4px;
    color:white;
    background-color: #FE7A15;
    border:0;
    
}
.btn:hover{
    background-color: yellowgreen;
    transition: all 0.5s;
}

.text{
    margin:5px;
    font-size: 24px;
    width:75vw;
    font-family: 'Ubuntu', sans-serif;
    border:2px solid #FE7A15;
    padding:20px;  
    border-radius: 4px;
    
}
input:focus{
    outline: none;
}

.link{
    align-items: center;
    position:relative;
    left:320px;
    top:20px;
    height:1px;
    width:1px;
    color:white;
    background-color: #FE7A15;
    padding:20px 30px 30px 20px;
    font-size:12px;
    font-weight: 800;
    text-decoration: none;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border:3px solid white;
    transform: scale(1.2);
    flex-shrink: 10;
}
.link:hover{
    background-color: #D3DD18;
    transition: all 0.5s;
    border:3px solid white;
    transform:rotateZ(45deg) scale(1.2);
}
.link span{
    position:relative;
    left:-12px;
}
.link span:hover{
    position: relative;

}
#h2head{
    text-align: center;
    position: static;
    color:#0191b4;
}
#boxbtn{
    visibility:hidden;
}
.card-body{
    position: relative;
    bottom:0px;
    left:0;
    margin:10px 25px;

}
.card-body p{
    font-size: 13px;
}
.footer{
    background-image:linear-gradient(to right,#D3DD18,#35BBCA);
    position: static;
    bottom: 0;
    margin:auto;
    color:white;
    padding:10px;
}
.news-title{
    display: inline;
}
.fa-instagram {
    background: #cb2027;
    color: white;
    font-size: 30px;
    padding:10px;
    text-decoration: none;
    margin:20px;
    border-radius: 6px;
    animation: float 3s infinite both;
  }
.fa-instagram:hover{
    background:white ;
    color:#cb2027;
    transition: all 1s;

}
.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size: 30px;
    padding:10px;
    text-decoration: none;
    margin:20px;
    border-radius: 6px;
    animation: float 3s infinite both;
  }
.fa-linkedin:hover{
    background:white ;
    color:#007bb5;
    transition: all 1s;
}
.fa-github {
    background: white;
    color: black;
    font-size: 30px;
    padding:10px;
    text-decoration: none;
    margin:20px;
    border-radius: 6px;
    animation: float 3s infinite both;
  }
.fa-github:hover{
    background:black ;
    color:white;
    transition: all 1s;

}
.social-icons{
    text-align: center;
}
.arrow-down{
    box-shadow: 1px 1px 10px grey;
    padding:6px 15px;
    position:fixed;
    right:10px;
    bottom:10px;
    background-color: #FE7A15;
    color:white;
    border-radius: 50%;
    margin:0px;
    z-index:99;
    font-weight: 400;
    font-size: 28px;
}
.arrow-up{
    font-weight: 400;
    box-shadow: 1px 1px 10px grey;
    display:none;
    padding:2px 14px;
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    right:10px;
    top:75vh;
    background-color: #FE7A15;
    color:white;
    border-radius: 50%;
    z-index:99;
    margin:0px;
}

.loading{
    
    animation: loading 1.5s ease-in infinite ;
    transition: all;
    
}
@keyframes loading {
    100%{
        transform: rotateZ(360deg);
    }

}



.loaderOuter{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
    
}
.loaderInner{
    width:100px;
    height:100px;
    border:25px solid white;
    animation:loader 4s linear infinite;
    border-radius: 50%;
    transition: all;
    
}


@keyframes loader{
    0%,100%{
        border-top:25px solid #FE7A15
    }
    25%{
        border-right:25px solid #FE7A15
    }
    50%{
        border-bottom:25px solid #FE7A15
    }
    75%{
        border-left:25px solid #FE7A15
    }
}
/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FE7A15; 
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity:0.8; 
  }

@media only screen and (max-width: 450px){
    .container{
        color:white;
        width:97vw;
        margin: auto;
        height:auto;
        padding: 5px;
        /* position:sticky; */
        top:0;
        background-color: #FE7A15;
        z-index: 99;
    }
    .container h3{
        margin-left:5px;
        padding: 0px;
        font-size: 12px;
        text-align: left;
    }
    .container button{
        background-color: white;
        color:#FE7A15
    }
.loading{
    position:fixed;
    top:50vh;
    left:30vw;
    z-index: 99;
    animation: loading 1.5s ease-in infinite ;
    transition: all;
    
}
@keyframes loading {
    100%{
        transform: rotateZ(360deg);
    }
    
}


.loaderOuter{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0px;
        
}
.loaderInner{
    width:50px;
    height:50px;
    border-top:10px solid #FE7A15;
    border-radius: 50%;
    transition: all;
    
}
.nav{
    display:flex;
    height:140vh;
    flex-direction: column;
    animation: BGrotation 10s ease infinite;
    transition:all;
    color:white;
    background-color: #FE7A15;
}
#heading{
    text-align: center;
    width:10vw;
    position:absolute;
    top:0px;
    left:10px; 
}
.text{
    padding:5px;
    width:80vw;
}
.link{
    top:80px;
    left:270px;
}
.box-item{
    margin-left:10px;
    margin-bottom:0px;
}
.intro{
    top:12vh;
    width:300px;
    left:0px;
}
.imgDiv{
    width:350px;
    right:0px;
}
.commonCategories{
    top:35vh;
    left:10px;
    width:300px;
    margin:auto;
    margin-left:18px;
}
.categories{
    width:150px;
}
.btn:hover{
    color:white;

}



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
    
}

